[user]
	name = Francesco Pira
	email = dev@fpira.com
[alias]
	co = checkout
	st = status -s
	br = branch
	cm = commit
	pl = pull
	ps = push
	unstage = reset HEAD --
	tree = log --all --decorate --oneline --graph
	adog = log --all --decorate --oneline --graph
	ll = log --graph --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%ad)%Creset %C(green)%an%Creset %s\"

[core]
	excludesfile = /Users/francesco/.gitignore_global

[push]
	default = matching
