zsh/zprezto/runcoms/README.md
**/*.swp

# ignore zsh custom/env specific zsh settings
/zsh/common/*zsh_custom

# vscode workspace files
/**/*.code-workspace

# vscode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
